:root {
  --color-primary: black;
  --color-primary-text: darkred;
  --color-secondary-text: white;
  --color-success: #376e37;
  --color-dark-gray: #292929;
  --color-gray: #c9c9c9;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
